@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #8b5cf6;
  --font-sans: Inter, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}